ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

ul li {
  float: left;
  padding: 14px 16px;
}

ul li a {
  display: block;
  text-decoration: none;
  padding: 14px 16px;
  color: purple
}